@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow{
    content: "\f140";
    display: inline-block;
    -webkit-font-smoothing: antialised;
    font: normal 16px/1 'dashicons';
    left: 3;
    -align: top;
}